.chat-window {
    margin: 0 auto;
    background-color: #efefef;
    height: 60vh;
    overflow-y: scroll;
    width: 100%;

}

.chat-message {
    display: inline-flex;
    padding: 10px 20px;
    min-height: 80px;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 15px;
    transform: skew(-6deg);
    box-shadow: 7px 5px 5px rgba(1,1,1,0.5);

}

.chat-message:hover {
    transform: skew(-6deg) scale(1.05);
    transition-duration: 0.2s;
}

.chat-message-container{
    display: flex;
}

.chat-message-user{
    font-size: 15px;
    color: #5b5b5b;
    font-style: italic;
    display: inline-flex;
    justify-content: flex-end;


}

.user-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
}

.chat-message-text {
    font-size: 20px;
    margin-top: 5px;
    display: inline-block;
}

